.service{
    &-card{
        $radius: 8px;
        margin-top: toRem(15);
        margin-bottom: toRem(15);
        border-radius: $radius;
        overflow: hidden;
        color: $color-primary;
        box-shadow: 0 4px 20px #0000001a;
        @include min-lg{
            display: flex;
        }

        &__header{
            position: relative;
            
            @include max-md{
                padding-top: 47%;
            }

            @include min-lg{
                flex-basis: toRem(185);
                flex-shrink: 0;
                padding-top: 40%;
            }

            &__image,
            &__icon
            {
                position: absolute;
                top: 0;
                left: 0;
            }

            &__image{
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-top-left-radius: calc($radius + 1px);
            }

            &__icon{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $color-white;
                width: toRem(50);
                height: toRem(50);
                border-bottom-right-radius: $radius;

                &__image{
                    position: absolute;
                }
            }
        }
        &__body{
            @include min-lg{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }

            &__top{
                padding: toRem(15);
                color: $color-white;
                background-color: $color-primary;

                &__title{
                    font-size: toRem(16);
                    font-weight: 500;
                }
            }

            &__bottom{
                padding: toRem(20);
                @include min-lg{
                    margin-top: auto;
                    margin-bottom: auto;
                }

                &__title{
                    font-size: toRem(25);
                    font-weight: 600;
                }
            }

            &__list{
                &__item{
                    font-size: toRem(14);
                }
            }
        }
    }
}