/* Reset CSS */
*,
*::before,
*::after
{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

::selection{
	color: $color-white;
	background: $color-primary;
}

html,
body
{
	scroll-behavior: smooth;
}

html{
	font-size: 16px;
	text-size-adjust: none;
}

body {
	color: $color-black;
	font-weight: 400;
	font-family: $font-primary;
}

a,
button
{
	color: inherit;
	font-family: inherit;
}

a,
a:hover,
a:focus,
a:active
{
	color: currentColor;
	text-decoration: none;
}

button,
button:hover,
button:focus,
button:active
{
	outline: none;
}

input:-webkit-autofill{
	-webkit-text-fill-color: unset;
	transition: background-color 5000s;
}

img,
svg
{
	display: block;
}

img{
	object-fit: cover;
	max-width: 100%;
}

@include min-lg {
	.container-lg-fluid{
		--bs-gutter-x:1.5rem;
		--bs-gutter-y:0;
		width:100%;
		padding-right:calc(var(--bs-gutter-x) * .5);
		padding-left:calc(var(--bs-gutter-x) * .5);
		margin-right:auto;
		margin-left:auto;
		max-width: unset
	}
}


.user-select-none{
	pointer-events: none;
}

.list-inline{
	font-size: 0;
	&-item{
		font-size: 1rem;
	}
}

/* Common Slick Style */
.slick{
	&__arrows{
		position: absolute;
		z-index: 3;
		cursor: pointer;
		@extend %transition;
	}

	&-dots{
		display: flex;
		justify-content: center;
		margin-top: toRem(15);
		margin-bottom: toRem(15);
		line-height: 0;
		list-style-type: none;
		li{
			&:not(:last-child){
				margin-right: 10px;
			}
			button{
				font-size: 0;
				width: toRem(16);
				height: toRem(16);
				border-radius: toRem(16);
				border: 0;
				background-color: #ebecef;
				box-shadow:
					0 1px 7px rgba(0,0,0,.25),
					inset 0 10px 14px hsla(0,0%,100%,.31);
				@extend %transition;
			}
			&.slick-active{
				button{
					background-color: $color-primary;
				}
			}
		}
	}
}

/* Common Section Gap Style */
.section-gap{
	padding: toRem(60) 0;
	@include max-lg{
		padding: toRem(50) 0;
	}

	&--fix{
		padding-bottom: calc(toRem(60) - 30px);
		@include max-lg{
			padding-bottom: calc(toRem(50) - 30px);
		}
	}
}

/* Common Section Heading Style */
.section-header{
	color: $color-primary;
	text-align: center;
	margin-bottom: toRem(20);

	&__title{
		font-size: toRem(40);
		@include min-lg{
			font-size: toRem(30);
		}
		@include max-md{
			font-size: toRem(26);
		}
		font-weight: 700;
		margin-bottom: toRem(20);
	}
}

.match-height > [class*="col"]{
	display: flex;
	flex-flow: column;
}

.match-height > [class*="col"] > *{
	flex: 1 1 auto;
}

.wavy__figure{
	$size: 15%;
	position: relative;
	margin-top: calc(($size / 2) * -1);
	padding-top: $size;
	margin-bottom: 0;

	+ *{
		background-color: $color-section;
	}

	&__shape{
		color: $color-section;
		z-index: -1;
		@extend %full-width;
	}
}

.link-highlight{
	display: inline-block;
	color: lighten($color-black, $amount: 10) !important;
	background-color: $color-white;
	border: 2px solid $color-gradient-primary;
	padding: 2px 5px;
	border-radius: 5px;
	font-size: 75%;
}

.strong{
	font-weight: 600;
}

.text-primary{
	--bs-primary-rgb: #{$color-primary-rgb};
}

.section-bg{
	background-color: $color-section;
}

.icon-list{
	display: inline-block;

	&__item{
		display: flex;
		align-items: center;
		gap: 10px;
		border-bottom: 1px solid lighten($color-gray, $amount: 40);
		padding: 10px toRem(15);

		&__icon{
			flex-shrink: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: toRem(30);
			height: toRem(30);
			border-radius: 10rem;
			font-size: toRem(14);
			color: $color-white;
			background-color: $color-primary;
		}
	
		&__text{
			font-size: toRem(15);
			color: $color-primary;
			text-align: left;
		}
	}
}

.section-overlay{
	position: relative;
	isolation: isolate;

	&::before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 80%;
		background-color: lighten($color-primary, $amount: 60);
		z-index: -1;
	}

	&--top::before{
		top: 0;
	}
}

.bg-light-blue{
	background-color: lighten($color-primary, $amount: 60);
}
.bg-gray-light{
	background-color: $color-gray--soft;
}

.arrow-indicator{
	position: relative;
	width: 130px;
	height: 130px;

	@include max-md{
		display: none;
	}

	&__image{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: contain;
		transform: rotate(-25deg);
	}
	
	&--reverse{
		.arrow-indicator__image{
			transform: rotateY(180deg);
		}
	}
}

.text-underline{
	text-decoration: underline;
}

.fs-sm{
	font-size: toRem(14);
}