// SCSS Variable's

$font-primary: 'Poppins', sans-serif;

$color-primary:#13438c;
$color-primary-rgb: 19, 67, 140;
$color-btn-hover: #042d6b;
$color-danger:#e32938;
$color-gray--soft:#eaeaea;
$color-section:#f9f9f9;
$color-start:#fc941d;

$color-gradient-primary:#5bc4b4;
$color-gradient-secondary:#4a9fc6;

$color-black:#000000;
$color-white:#ffffff;