$color-agent: #fce5cd;
$color-client: #added1;
$colorgray--sof: #ededed;
$color-btn: #added1;
$color-success: #48c774;
$color-danger: #d0021b;
$color-alert--sky: #a4c2f4;
$color-alert--success: #93c47d;
$font-primary: 'Poppins', sans-serif;
$agent-image: 'https://novecology.fr/frontend_assets/images/women-user.png';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*{
    margin: 0;
}

button{
    &[type="button"],
    &[type="submit"]
    {
        cursor: pointer;
    }
}

body{
    font-family: $font-primary;
}

.text-success{
    color: $color-success;
}

.text-right{
    text-align: right;
}

.flex-grow-1{
    flex-grow: 1;
}

.d-block{
    display: block;
}

.chat{
    &__body{
        @media (min-width: 1200px) {
            max-width: 1000px;
        }
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }

    &__card{
        --avatar-size: 50px;
        @media (max-width: 1199.98px) {
            --avatar-size: 30px;
        }
        $animation-duration: 0.5s;
        &--agent{
            @media (max-width: 1199.98px) {
                padding-left: 40px;
            }
            .chat__message{
                background-color: $color-agent;
                &::before{
                    content: "";
                    top: 0;
                    left: -10px;
                    transform: translateX(-100%);
                    position: absolute;
                    width: var(--avatar-size);
                    height: var(--avatar-size);
                    display: inline-block;
                    border-radius: 50%;
                    background-image: url($agent-image);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all linear $animation-duration;
                    animation: slideFadeDown $animation-duration linear forwards;
                    @keyframes slideFadeDown {
                        0%{
                            top: 0;
                        }
                        100%{
                            top: calc(100% - var(--avatar-size));
                        }
                    }
                }
            }
        }

        &--client{
            .chat__message{
                background-color: $color-client;
                margin-left: auto;
            }
        }
    }

    &__message{
        position: relative;
        display: inline-block;
        padding: 1rem 1.5rem;
        border-radius: 26px;
        margin-bottom: 8px;
        line-height: 1.6;

        &-wrapper{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            max-height: 0;
            transform: translateY(10%);
            animation: show .2s linear forwards;
            animation-delay: calc(var(--index) * 1s);
            @keyframes show {
                100%{
                    opacity: 1;
                    visibility: visible;
                    pointer-events: initial;
                    max-height: 300vh;
                    transform: translateY(0);
                }
            }
        }

        &__alert{
            padding: 10px;
            border-radius: 8px;
            font-weight: 600;

            &--sky{
                background-color: $color-alert--sky;
            }
            &--success{
                background-color: $color-alert--success;
            }
        }
    }
}

.option-btn{
    &-label{
        width: 100%;
        font-size: 12px;
        color: $color-danger;
        text-transform: uppercase;
        padding-bottom: 3px;
    }
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    &__text{
        display: inline-block;
        padding: 12px 20px;
        background-color: $color-btn;
        border-radius: 2rem;
        text-align: center;

        &__icon{
            font-size: 3em;
            display: block;
            transition: all .2s ease-in-out;
        }
    }
    &--icon{
        .option-btn__text{
            padding: 1.1em 4em;
        }
    }
    &__input{
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        pointer-events: none;
        &:hover,
        &:checked,
        &:active,
        &:focus-visible
        {
            ~ .option-btn__text{
                box-shadow:
                rgba(0, 0, 0, 0.29) 0px 6px 21px -11px,
                rgba(47, 49, 72, 0.3) 0px 13px 17px -16px;

                & .option-btn__text__icon{
                    transform: translateY(-5%);
                }
            }
        }
    }
}

.progress-bar{
    width: 100%;
    height: 16px;
    border-radius: 50rem;
    background-color: $colorgray--sof;
    background-image: linear-gradient(90deg,$color-success 30%, $colorgray--sof 0);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 150% 150%;
    animation: progressing 1.5s linear infinite;

    @keyframes progressing {
        0%{
            background-position: 200% 0;
        }
        100%{
            background-position: -200% 0;
        }
    }
}

.form{
    &-row{
        display: grid;
        @media (min-width: 550px){
            grid-template-columns: 1fr 1fr;
        }
        gap: 15px;
    }
    &-control{
        display: block;
        font-size: 16px;
        padding: 15px 20px;
        border: 2px solid $color-client;
        border-radius: 5px;
        background-color: $colorgray--sof;
        outline: none !important;
        width: 100%;

        &:focus{
            background-color: #ffffff;

            &:invalid ~ .form-error{
                .form-error{
                    &__before{
                        display: none;
                    }
                    &__after{
                        display: initial;
                    }
                }
            }
        }
    }
    &-error{
        color: $color-danger;

        &__after{
            display: none;
        }
    }
    &-btn{
        font-size: 14px;
        font-weight: 600;
        padding: 12px;
        color: #000000;
        background-color: $color-client;
        border: 1px solid $color-client;
        border-radius: 5px;

        &:hover,
        &:focus-visible
        {
            border-color: darken($colorgray--sof, $amount: 15);
        }
    }
}
