/* Common Button's Style */
.btn{
	box-shadow: none !important;
}

.btn-primary{
	--bs-btn-bg: #{$color-gradient-secondary};
	--bs-btn-border-color: #{$color-gradient-secondary};

	--bs-btn-hover-bg: #{$color-primary};
	--bs-btn-hover-border-color: #{$color-primary};

	--bs-btn-active-bg: #{$color-gradient-primary};
	--bs-btn-active-border-color: #{$color-gradient-primary};
}

.btn-gradient{
	color: $color-white !important;
	display: inline-block;
	font-size: toRem(14);
	font-weight: 500;
	padding: toRem(10) toRem(24);
	letter-spacing: .35px;
	background-image: linear-gradient(90deg, $color-gradient-primary, $color-gradient-secondary);
	text-align: center;
	@extend %transition;

	&:hover,
	&:focus-visible
	{
		box-shadow: 0 toEm(10) toEm(12) rgba($color-black, $alpha: 0.2);
	}

	&:focus-visible{
		background-image: linear-gradient(90deg, $color-primary, $color-gradient-secondary);
	}
}

.btn-text{
	display: inline-block;
	color: $color-primary;
	padding: 5px;
	font-weight: 500;

	&:hover,
	&:focus-visible
	{
		color: $color-primary;
		text-decoration: underline;
	}
}

.scroll-top{
	bottom: toRem(15);
	right: toRem(15);
	display: none;
	cursor: pointer;
	z-index: 7;

	&__btn{
		width: 2.8rem;
		height: 2.8rem;
		font-size: 1.1rem;
		color: $color-white;
		background-color: $color-primary;
	}
}