/* Common Button's Style */
.btn{
	box-shadow: none !important;
}

.btn-primary{
	--bs-btn-bg: #{$color-gradient-secondary};
	--bs-btn-border-color: #{$color-gradient-secondary};

	--bs-btn-hover-bg: #{$color-primary};
	--bs-btn-hover-border-color: #{$color-primary};

	--bs-btn-active-bg: #{$color-gradient-primary};
	--bs-btn-active-border-color: #{$color-gradient-primary};

	&:focus{
		color: $color-white;
	}
}

.btn-gradient,
.btn-text,
.btn-fat
{
	display: inline-block;
	text-align: center;
	@extend %transition;
}

.btn-gradient{
	color: $color-white !important;
	font-size: toRem(14);
	font-weight: 500;
	padding: toRem(10) toRem(24);
	letter-spacing: .35px;
	background-image: linear-gradient(90deg, $color-gradient-primary, $color-gradient-secondary);
	text-align: center;

	&:hover,
	&:focus-visible
	{
		box-shadow: 0 toEm(10) toEm(12) rgba($color-black, $alpha: 0.2);
	}

	&:focus-visible{
		background-image: linear-gradient(90deg, $color-primary, $color-gradient-secondary);
	}
}

.btn-text{
	color: $color-primary;
	padding: 5px;
	font-weight: 500;

	&:hover,
	&:focus-visible
	{
		color: $color-primary;
		text-decoration: underline;
	}
}

.btn-fat{
	padding: toRem(10) toRem(30);
	border-radius: 8px;
	font-weight: 500;

	&--light{
		color: $color-black;
		background-color: $color-white;

		&:hover,
		&:focus
		{
			color: $color-black;
			background-color: $color-white;
		}
	}

	&--warning{
		color: $color-white;
		background-color: $color-start;

		&:hover,
		&:focus
		{
			color: $color-white;
			background-color: $color-start;
		}
	}

	&--primary{
		color: $color-white;
		background-color: $color-primary;

		&:hover,
		&:focus
		{
			color: $color-white;
			background-color: $color-primary;
		}
	}

	&--gray{
		color: $color-black;
		background-color: $color-gray--soft;

		&:hover,
		&:focus
		{
			color: $color-white;
			background-color: $color-primary;
		}
	}
}

.btn-bear{
	position: relative;

	&__image{
		position: absolute;
		right: 0;
		bottom: 0;
		max-height: toRem(64);
		transform: translateX(40%);
	}

}

.scroll-top{
	bottom: toRem(15);
	right: toRem(15);
	display: none;
	cursor: pointer;
	z-index: 7;

	&__btn{
		width: toRem(30);
		height: toRem(30);
		font-size: 1.1rem;
		color: $color-white;
		background-color: $color-primary;
	}
}