/* Common Button's Style */
.btn{
	box-shadow: none !important;
}

.btn-primary{
	--bs-btn-bg: #{$color-gradient-secondary};
	--bs-btn-border-color: #{$color-gradient-secondary};

	--bs-btn-hover-bg: #{$color-primary};
	--bs-btn-hover-border-color: #{$color-primary};

	--bs-btn-active-bg: #{$color-gradient-primary};
	--bs-btn-active-border-color: #{$color-gradient-primary};
}

.scroll-top{
	bottom: toRem(15);
	right: toRem(15);
	display: none;
	cursor: pointer;
	z-index: 7;

	&__btn{
		width: 2.8rem;
		height: 2.8rem;
		font-size: 1.1rem;
		color: $color-white;
		background-color: $color-primary;
	}
}