.form{
    &-control{
        color: $color-primary;
        font-size: toRem(14);

        &::placeholder{
            color: currentColor;
        }

        &:focus{
            color: $color-primary;
            box-shadow: none;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

select{
    cursor: pointer;
}