.tablist--service{
    --bs-nav-pills-link-active-bg: #{$color-primary};

    --bs-nav-link-color: var(--bs-nav-pills-link-active-bg);
    --bs-nav-link-hover-color: var(--bs-nav-pills-link-active-bg);
    --bs-nav-link-padding-x: #{toRem(30)};
    --bs-nav-link-padding-y: #{toRem(20)};
    --bs-nav-link-font-weight: 600;
    --bs-nav-pills-border-radius: 0;
    --tablist-border-radius: 8px;

    border-radius: var(--tablist-border-radius);
    background-color: $color-white;
    
    @include max-md{
        overflow: hidden;
        box-shadow: 0 0 10px rgba($color-black, $alpha: 0.1);
        border: 1px solid $color-gray--soft;
    }
    
    @include min-lg{
        position: relative;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        padding: 15px 15px 20px;
        isolation: isolate;
        scrollbar-width: thin;
        &::-webkit-scrollbar{
            height: 5px;
            background-color: #cdcdcd;
        }
    }

    .nav{
        &-link{
            $border: 12px;
            position: relative;
            display: flex;
            align-items: center;
            text-align: left;
            background-color: $color-white;
            width: 100%;
            gap: toRem(10);
            flex-shrink: 0;
            @include min-sm{
                flex-basis: 50%;
            }
            @include min-lg{
                flex-basis: toRem(250);
                font-size: toRem(20);
            }

            &:first-child{
                @include min-lg{
                    border-top-left-radius: var(--tablist-border-radius);
                    border-bottom-left-radius: var(--tablist-border-radius);
                    margin-left: auto;
                }
            }

            &:last-child{
                @include min-lg{
                    border-top-right-radius: var(--tablist-border-radius);
                    border-bottom-right-radius: var(--tablist-border-radius);
                    margin-right: auto;
                }
            }

            &:not(:last-child){
                border-right: 1px solid $color-gray--soft;
            }

            @include max-md{
                flex-grow: 1;
                border-bottom: 1px solid $color-gray--soft;
            }

            &::before{
                content: "";
                position: absolute;
                bottom: calc(($border - 1px) * -1);
                left: 50%;
                transform: translateX(-50%);
                border-left: $border solid transparent;
                border-right: $border solid transparent;
                border-top: $border solid var(--bs-nav-link-color);
                opacity: 0;
                transition: opacity 0.15s ease-in-out;
                user-select: none;
                pointer-events: none;
                z-index: 1;
            }

            @include min-lg{
                &::after{
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: inherit;
                    background-color: inherit;
                    z-index: -1;
                    box-shadow: 0 0 10px rgba($color-black, $alpha: 0.1);
                }
            }

            &.active{
                border-right-color: var(--bs-nav-link-color) !important;
                border-bottom-color: var(--bs-nav-link-color) !important;

                &::before{
                    opacity: 1;
                }
            }
    
            &__icon{
                flex-shrink: 0;
            }
        }
    }
}