/* Footer Section Style */
.footer{
    &__copyright{
        color: $color-white;
        font-size: toRem(14);

        &__link{
            @extend %transition;

            &:hover,
            &:focus{
                text-decoration: underline;
            }
        }
    }
}