/* Header Section Style */
.header{
	box-shadow: 0 0 20px #0000000d;
	
	&__top__wrapper,
	.navbar
	{
		@include min-xxl {
			padding-left: toRem(90);
			padding-right: toRem(90);
		}
	}

	&__top__wrapper{
		@include max-md{
			justify-content: center;
		}
	}

	&__top__nav,
	&__top__social-nav
	{
		.nav-link{
			color: $color-white;

			&.active,
			&.show,
			&:hover,
			&:focus-visible
			{
				color: $color-primary;
				background-color: $color-white;
			}
		}
	}

	&__top{
		color: $color-white;
		background-color: $color-primary;

		&__text,
		&__social-nav
		{
			@include max-md{
				display: none;
			}
		}

		&__text{
			font-size: toRem(13);
		}
		
		&__nav{
			@include min-lg{
				margin-left: auto;
				margin-right: toRem(40);
			}
			
			.nav-link{
				display: inline-flex;
				align-items: center;
				font-size: toRem(12);
				font-weight: 500;
				height: 100%;
			}
		}
	}

	.navbar{
		@include min-xl {
			padding-top: 0;
			padding-bottom: 0;
		}

		&-brand__image{
			max-height: 20px;
		}

		&-toggler{
			font-size: 1rem;
			color: unset;
			z-index: 8;
			@extend %transition;

			&[aria-expanded="true"],
			&:hover
			{
				color: $color-primary;
			}
		}

		&-nav,
		.nav-link
		{
			@include min-xl{
				height: 100%;
			}
		}

		.nav-link{
			color: $color-black;
			font-size: toRem(15);
			padding: toRem(15) toRem(20);

			&.active,
			&:hover,
			&:focus-visible
			{
				color: $color-white;
				background-color: $color-primary;
			}
		}
	}
}

.dropdown{
	font-size: toRem(12);
	&-menu{
		--bs-dropdown-border-width: 0;
		--bs-dropdown-border-radius: #{toRem(8)};
		--bs-dropdown-link-active-bg: #{$color-primary};

		box-shadow: 0 2px 7px rgba(0,0,0,.15);
	}

	&-item{
		font-size: toRem(14);
	}
}